<body>
    <br>
    <br>
    <br>
    <div class="container" align="center" ><h1>Comparador de Escuelas</h1>
    
    <% home.forEach(function (obj) { %>
    
    
    <h3>La base de datos de  <%= obj.nombre %> funciona correctamente</h3>
    
    <% }) %>
    </div>
    <br>
   
    <div class="row" align="center">
        <div class="col-5">
            <div class="container">
                    <!-- Inicio menu  -->
    <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle form-control" href="#" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Preparatorio 6
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
      
    </div>
    </div>
    <!-- Fin menu  -->
<div id="demo" class="carousel slide" data-ride="carousel">

   
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>

    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/escudo1.jpg" class="img-fluid imgcontainer" alt="Los Angeles">
        </div>
        <div class="carousel-item">
            <img src="/img/imagen11.jpg" class="img-fluid imgcontainer" alt="Chicago">
        </div>
      
            </div>
                </div>
            
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            
            </div>
            <div class="card">
                <div class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam corrupti nisi necessitatibus repellat possimus sunt eaque molestiae nulla sit facere, sequi quia incidunt placeat dignissimos aliquam esse alias expedita illo.</div>
            </div>
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:86%">86%</div>
        </div>
      
        <div class="col">
           <div class="contenedor">
                    <h1>VS</h1>
                    
                    
            </div>
           <div class="container-fluid">
            <form action="/comparar">
                <h1><button type="submit" class="form-control btn-primary">Ver más</button></h1>
            </form>
           </div>
          
        </div>
        <div class="col-5" >
            <div class="col">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle form-control" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Centro de Estudios Cientificos y Tecnologicos 9
                    </a>
            
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        
                    </div>
                </div>
                <div id="demo1" class="carousel slide" data-ride="carousel">
            
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo1" data-slide-to="0" class="active"></li>
                        <li data-target="#demo1" data-slide-to="1"></li>
                       
                    </ul>
            
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <img src="/img/logo22.jpg"  class=" imgcontainer img-fluid" alt="Los Angeles">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/imagen2.jpg" class="imgcontainer img-fluid" alt="Chicago">
                        </div>
                    
                    </div>
                    <div class="card">
                        <div class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam corrupti nisi necessitatibus
                            repellat possimus sunt eaque molestiae nulla sit facere, sequi quia incidunt placeat dignissimos aliquam esse
                            alias expedita illo.</div>
                    </div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:88%">88%</div>
            
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo1" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
            
                </div>
            
            </div>
            
               
        </div>
      
      
    </div>


<div class="container" align="center">  <h6>Escuela Patrocinada</h6>

<img src="https://eleternoestudiante.com/wp-content/uploads/2020/01/cropped-tecnologico-monterrey-cursos-2020.png"  class=" banner">
</div>
<br>
<br>
    <div class="container-fluid" align="center">
        <div class="row">
            <div class="col">
                <br>
                <h1>ESCUELA RECOMENDADA</h1>
                <h5>Porque buscaste <a href="">escuelas en el sur</a> y <a href="">UNAM</a></h5>
                <h2>Colegio Ciencias y Humanidades Sur</h2>
                <br>
                <div id="demo2" class="carousel slide" data-ride="carousel">
                
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo2" data-slide-to="0" class="active"></li>
                        <li data-target="#demo2" data-slide-to="1"></li>
                        
                    </ul>
                
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://tvazteca.brightspotcdn.com/dims4/default/3e0c6cc/2147483647/strip/true/crop/890x500+305+0/resize/968x544!/quality/90/?url=https%3A%2F%2Ftvazteca.brightspotcdn.com%2Fb9%2F65%2Faffe0d2347739cadbc3ee03fb72e%2Fcch-sur.jpg" class="img-fluid" alt="Los Angeles">
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.eluniversal.com.mx/sites/default/files/2019/10/24/cch_sur_violacion.jpg" class="img-fluid" alt="Chicago">
                        </div>
                        
                    </div>
                
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo2" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                
                </div>
            </div>
            <div class="col">
                <h1>Mejores puntuadas</h1>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cecyt 9
                    <span class="badge badge-primary badge-pill">88</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Prepa 6
                    <span class="badge badge-primary badge-pill">86</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Prepa 1
                    <span class="badge badge-primary badge-pill">83</span>
                </li>
            </ul>
            </div>
        </div>
        </div>
</body>