button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.imgcontainer{
    height: auto;
    max-width: 100%;

}

.banner{
    max-height: 60%;
     max-width: 100%;

}


.contenedor
	{
	  display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
            }
	.contenedor>span {
		display:inline-block;
		vertical-align:middle;
		line-height:normal;
	}